@model Assignment_6_mvc.Models.User

<h2>Current Users</h2>
<div id="result">
    
</div>
<span>

</span>


    <p>
        User Name: @Html.TextBoxFor(user => user.UserName)
    </p>
    
    <p>
        Password: @Html.PasswordFor(user => user.Password)
    </p>
    <input type="submit" value="Create User" />



